In [6]:
class Calculator:
    def __init__(self, name, version):
        self.name = name
        self.version = version

    def get_calculator_info(self):
        return f'{self.name} V.{self.version}'

    @staticmethod
    def add_numbers(*numbers):
        return sum(numbers)

calculator = Calculator(name = 'Calculator', version = '1.0')
print(calculator.get_calculator_info())

Calculator V.1.0

In [11]:
lst = [('Ali', "uk"), ('Arslan', 'uk'), ('Ahmed', 'La')]

my_dict = dict()
for i in lst:
     name = i[0]
     city = i[1]
     if city not in my_dict:
         my_dict[city] = []
     my_dict[city].append(name)

print(my_dict)

{'uk': ['Ali', 'Arslan'], 'La': ['Ahmed']}

In [25]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'banana', 'cherry', 'google'}

In [32]:
x = {1, 2, 3}
y = {1, 2}
A = {1,2,3,4,5}
B = {2,3,4,33,44}
C = {1,2,3,4,5,6,7,8,9,10}
A |= B | C
print(A)
print(A ^ B)
print(x >= y)
print(x > y)
A ^= B ^ C

print(A, B, C)
z = {1, 2, 3}
print(x >= z)
print(x > z)
print(x.issubset(y))
print(x.isdisjoint(y))
print(x.issubset(z))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 33, 44}
{1, 5, 6, 7, 8, 9, 10}
True
True
{2, 3, 4} {33, 2, 3, 4, 44} {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
True
False
False
False
True